@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

/* =============================================================== */
/*                      Global Variables                           */
/* =============================================================== */
:root {
    --light-grey: #dee2e6;
    --base-green: #1DB94E;
    --light-green: #1ED760;
    --songs-text: white;
    --songs-background: rgba(0, 0, 0, .3);
    --base-red: #ff4632;
    --light-red: #ff5d4c;
    --warm-orange: #fca641;
}

/* =============================================================== */
/*                      Color Schemes                              */
/* =============================================================== */
/* Scheme 1 */
/*
linear-gradient(to right, #C074B2, #8AB5E8);
*/
/* Scheme 2 */
/*
linear-gradient(#F037A5 -20%, #4001F5 130%);
*/

/* =============================================================== */
/*                      General CSS Rules                          */
/* =============================================================== */
body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
}

/* =============================================================== */
/*                      Buttons                                    */
/* =============================================================== */

.button-default {
    margin: 20px;
    padding: 15px 45px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: transform 33ms;
}

.button-default:hover {
    color: white;
    cursor: pointer;
    transform: scale(1.05);
}

.button-red {background-color: var(--base-red);}
.button-red:hover {background-color: var(--light-red);}
.button-green {background-color: var(--base-green);}
.button-green:hover {background-color: var(--light-green);}

/* =============================================================== */
/*                      Main App Component                         */
/* =============================================================== */
.app {
  text-align: center;
}


/* =============================================================== */
/*                      Login Component                            */
/* =============================================================== */
.login {
    background: url(https://campaigns.scdn.co/images/top-hero-left.png) left bottom no-repeat,
                url(https://campaigns.scdn.co/images/top-hero-right.png) right bottom no-repeat,
                rgb(80, 55, 80);
    margin: 0;
    padding: 0;
}

.login-container {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    font-weight: 500;
}

.button-login {
    margin-top: 35px;
}

.login a {
    text-decoration: none;
}

.login h1 {
    margin-bottom: 15px;
}

.display-none {
    display: none;
}

.display-full-screen {
    height: 100vh;
    width: 100vw;
}

.display-600px {
    height: 600px;
    width: 100vw;
}


/* =============================================================== */
/*                      Navigation Bar Component                   */
/* =============================================================== */
.navbar {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 30px;
    overflow: hidden;
}

.navbar ul li {
    padding: 15px;
    float: left;
    margin: 0;
}

.navbar ul li a:hover {
/*
    color: #2D46B9;  
*/
    color: white;
    text-decoration: none;
}


/* =============================================================== */
/*                      Home Page Component                        */
/* =============================================================== */
.homepage {    
    background: linear-gradient(to top, #373b44, #4286f4);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
}

/* Delete this when finished developing */
.temporary-nav {
    display: flex;
    flex-direction: row;
    height: 20vh;
}

/* =============================================================== */
/*          Playlists, Playlist, and Songs Components              */
/* =============================================================== */
.playlists-container {
    margin-right: 7.5vw;
    margin-left: 7.5vw;
    position: absolute;
    bottom: 0;
    right: 0; 
    left: 0;
}

.playlists {
    overflow-x: scroll;
    flex-wrap: nowrap;
}

.playlists *:active {
    background: var(--songs-background);
}

/* ul container for <Songs> elements*/
.playlist {
    list-style-type: none;
    overflow-y: scroll;
    max-height: 60vh;
    min-height: 60vh;
    padding: 0;
    margin: 0;
    background: var(--songs-background);
/*    border-right: 1px solid var(--light-grey);
    border-left: 1px solid var(--light-grey);*/
}

.songs-ul-container {
    list-style-type: none;  
    padding: 0;
    white-space: nowrap;
    text-align: left;
}

.songs-ul-container li {
    display: inline-block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 8px;
    color: var(--songs-text);
/*
    border-bottom: 1px solid var(--light-grey);
*/
    overflow-x: hidden;
}

.songs-ul-container li:first-child {width: 33%;}
.songs-ul-container li:nth-child(2) {width: 20%;}
.songs-ul-container li:nth-child(3) {width: 20%;}
.songs-ul-container li:nth-child(4) {width: 17%;}
.songs-ul-container li:nth-child(5) {width: 10%;}

.button-add-playist {
    margin-bottom: 50px;   
    padding: 15px 30px;
    max-width: 325px;
}

.create-playlists-container {
    margin-right: 7.5vw;
    margin-left: 7.5vw;
    height: 60vh;
}

/* Overwrite some Bootstrap classes*/
.nav-tabs {
    border-bottom: 0px;
}

.nav-item.nav-link.active {
    background-color: var(--songs-background);
    color: white;
    border: 0px;
}


/* =============================================================== */
/*                      Details Component                          */
/* =============================================================== */
.details-background-container {
    background: #F9F9F9;
}

.details-content-container {
    padding: 75px 15px;
    margin-left: 86px;
    margin-right: 86px;
}
.details {
    color: black;
}

.details h1 {
    font-weight: 900;
    letter-spacing: -1px;
    margin-bottom: 70px;
}

.details p {
    color: #222326;
    font-weight: 500;
    font-family: Roboto;
}

.details-image-container {
    background: rgb(80, 55, 80);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-3-image {  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-3-image h3 {
    margin-top: 32px;
    font-size: 22px;
    font-weight: bold;
}

.col-3-image p {
    margin-top: 6px;
    padding: 0px 40px;
    font-size: 16px; 
    line-height: 1.5;
}


/* =============================================================== */
/*                      Media Queries                              */
/* =============================================================== */
@media (min-width: 480px) {
    .login {
        background: rgb(80, 55, 80);
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 40px;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 48px;
    }
    .login {
        background: url(https://campaigns.scdn.co/images/top-hero-left.png) left bottom no-repeat,
                url(https://campaigns.scdn.co/images/top-hero-right.png) right bottom no-repeat,
                rgb(80, 55, 80);
    }
}






